 <!-- menu profile quick info -->
<div class="profile clearfix">
    <div class="profile_pic">
        <img src="~/App_Themes/CMS/production/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Xin Chào,</span>
       
    </div>
</div>
<!-- /menu profile quick info -->

<br />

<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">

        <ul class="nav side-menu">
            <li>
                <a href="/Home/Index"><i class="fa fa-home"></i> Home</a>

            </li>
            <li>
                <a><i class="fa fa-building-o"></i> Manager Competitions <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink("Created", "Index", "Competitions")</li>
                    <li>@Html.ActionLink("Create", "Create", "Competitions")</li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-building-o"></i> Manager Paintings <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink("Paintings Created", "Index", "Post")</li>
                    <li> @Html.ActionLink("Create Paintin", "Create", "Post")</li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-fire"></i> Manager User <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink("Staff", "StaffIndex", "UsersAdmin")</li>
                    <li> @Html.ActionLink("Student", "StudentIndex", "UsersAdmin")</li>
                </ul>
            </li>
            <li>
                <a href="/Admin/RolesAdmin/Index"><i class="fa fa-fire"></i> Manager Role <span class="fa fa-chevron-down"></span></a>
            </li>
        </ul>
    </div>


</div>

