@model InstutiteOfFineArt.Core.Model.Post
@{
    ViewBag.Title = "Details";
}

<div class="inner-page-banner-area" style="background-image: url('/App_Themes/Home/Images/banner/5.jpg');">
    <div class="container">
        <div class="pagination-area">
            <h1>News Details</h1>
            <ul>
                <li><a href="/">Home</a> -</li>
                <li>Details - @Model.Title</li>
            </ul>
        </div>
    </div>
</div>
<div class="news-details-page-area __web-inspector-hide-shortcut__">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <div class="row news-details-page-inner">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="news-img-holder">
                            <img src="@Model.Images.Split(';')[0]" class="img-responsive" alt="research">
                            <ul class="news-date1">
                                <li>@Model.UpdatedTime.Day - @Model.UpdatedTime.Month</li>
                                <li>@Model.UpdatedTime.Year</li>
                            </ul>
                        </div>
                        <h2 class="title-default-left-bold-lowhight"><a href="#">@Model.Title</a></h2>
                        <ul class="title-bar-high news-comments">
                            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i><span>By</span> @Model.User.UserName</a></li>
                            <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>Price: @Model.Price</a></li>
                            <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i><span>(@Model.Comments.Count())</span> Comments</a></li>
                        </ul>
                        <p>@Html.Raw(Model.PostContent)</p>
                        <p><span>Bimply dummy text of the printing and typesetting istryrem Ipsum has been the industry's standard dummy type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchan scrambled.</span></p>

                        @foreach (var item in Model.Images.Split(';'))
                        {
                            if (!item.IsEmpty())
                            {
                                <img src="@item" class="img-responsive" alt="research">
                                <br />
                            }
                        }

                        <ul class="news-social">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                        <div class="course-details-comments" >
                            <input type="hidden" name="name" id="PostId" value="@Model.PostId" />
                            <h3 class="sidebar-title">(@Model.Comments.Count()) Comments</h3>
                            <div id="list"></div>
                            @*<div class="media" >
                                <a href="#" class="pull-left">
                                    <img alt="Comments" src="~/App_Themes/Home/Images/Exhibition/comment/16.jpg" class="media-object">
                                </a>
                                <div class="media-body">
                                    <h3><a href="#">Greg Christman</a></h3>
                                    <h4>Excellent course!</h4>
                                    <p><h4>Mark:</h4> <h4> 50</h4></p>
                                    <p>Rimply dummy text of the printinwhen an unknown printer took eype and scramb relofeletogimply dummy and typesetting industry.</p>
                                </div>
                            </div>*@
                        </div>
                        <!--Comment -->
                        <div class="leave-comments">
                            <h3 class="sidebar-title">Leave A Comment</h3>
                            <div class="row">
                                <div class="contact-form" id="review-form">
                                    <form>
                                        <fieldset>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="email" placeholder="Name" id="name" class="form-control">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="password" placeholder="Password" id="password" class="form-control">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="rate-wrapper">
                                                        <div class="rate-label">Your Rating:</div>
                                                        <div class="rate">
                                                            <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                            <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                            <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                            <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                            <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="number" placeholder="Mark" id="mark" class="form-control">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <textarea placeholder="Comment" class="textarea form-control" id="commentText" rows="8" cols="115"></textarea>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <button type="button" class="view-all-accent-btn" onclick="return _add();">Post Comment</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="sidebar">
                    @*<div class="sidebar-box">
            <div class="sidebar-box-inner">
                <h3 class="sidebar-title">Search</h3>
                <div class="sidebar-find-course">
                    <form id="checkout-form">
                        <div class="form-group course-name">
                            <input id="first-name" placeholder="Type Here . . .." class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <button class="sidebar-search-btn-full disabled" type="submit" value="Login">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>*@
                    @Html.Action("MostViewedPost", "Home")
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
