@model IdentitySample.Models.LoginViewModel


@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="pom-agile">
                    @*<input placeholder="E-mail" name="Email" id="Email" class="user" type="email" >*@
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail", type = "email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", type = "email" })
                    <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                </div>


                <div class="pom-agile">
                    @Html.PasswordFor(model => model.Password, new { @class = "pass", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                </div>

                <div class="sub-w3l">
                    <h6><a href="#">Forgot Password?</a></h6>
                    <div class="right-w3l">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                        <input type="submit" value="Login">
                    </div>
                </div>


            }
        </section>
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new FA.JustBlog.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>





