@model InstutiteOfFineArt.Core.Model.Competition

@{
    ViewBag.Title = "Create";
}
<style type="text/css">

    label.error {
        color: red;
    }
</style>

<div class="">
    <h3 style="text-align: center;">Please enter competitions information</h3>

    <div class="row">
        <!-- form input mask -->
        <div class="col-md-12 col-sm-12  ">
            <div class="x_panel">
                <div class="x_title">
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="" action="" id="data" method="post" enctype="multipart/form-data">
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-2 col-sm-2  ">Name competition</label>
                                <div class="col-md-9 col-sm-9">
                                    <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name" id="name"
                                           placeholder="Please enter name competition" required />
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-2 col-sm-2  ">Description</label>
                                <div class="col-md-9 col-sm-9">
                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @id = "descriptionId", @placeholder = "Please enter description" })
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-2 col-sm-2 ">Start Date</label>
                                <div class="col-md-9 col-sm-9">
                                    @Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-ddThh:mm}", new { @class = "form-control", type = "datetime-local" })

                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-2 col-sm-2 ">End Date</label>
                                <div class="col-md-9 col-sm-9">
                                    @Html.TextBoxFor(m => m.EndDate, "{0:yyyy-MM-ddThh:mm}", new { @class = "form-control", type = "datetime-local" })

                                </div>
                            </div>

                            <div class="ln_solid">
                                <div class="form-group">
                                    <div class="col-md-6 offset-md-3">
                                        <input type='submit' class="btn btn-primary" id="btnSave" value="Submit" />
                                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-success" })

                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!-- /form input mask -->

    </div>
</div><!-- /.docs-toggles -->


<script src="~/ckeditor/ckeditor.js"></script>

<script>
    CKEDITOR.replace("descriptionId");

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <script>
        $(document).ready(function () {

            var today = new Date();
            $("#data").validate({
                rules: {
                    name: "required",
                    Description: {
                        required: true,
                        maxlength: 1000
                    },
                    StartDate: {
                        required: true,
                    },
                    EndDate: {
                        required: true,
                    },
                },
                messages: {
                    name: "Please enter name competition",
                    Description: "Please enter description",
                    StartDate: {
                        required: "Please enter start date",
                    },
                    EndDate: "Please enter end date"
                }

            });

            $(document).on('submit', '#data', function (e) {
                e.preventDefault();
                var startDate = new Date($('#StartDate').val());
                var endDate = new Date($('#EndDate').val());
                var today = new Date();
                if (startDate < today) {
                    alert("Start time should not be less than current date");
                }
                else if (startDate > endDate) {
                    alert("Start time must not be less than end date");
                }
                else {
                    if ($("#data").valid()) {
                        var form = $('#data')[0];

                        var dataModel = new FormData(form);
                        if (confirm('Are you sure you want to create this?')) {
                            $.ajax({
                                type: "POST",
                                enctype: 'multipart/form-data',
                                url: "/Admin/Competitions/Create",
                                data: dataModel,
                                contentType: false, // Not to set any content header
                                processData: false, // Not to process data
                                success: function (response) {
                                    if (response.result) {
                                        alert(response.mess);
                                        window.location.href = response.url;
                                    }
                                    else {
                                        alert(response.mess);
                                        $("#message").removeClass("loader");
                                    }


                                },
                                error: function (response) {
                                    alert(response.mess);
                                    $("#message").removeClass("loader");
                                }
                            });
                        }

                    }
                }

            });
        });

    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
