@model IEnumerable<InstutiteOfFineArt.Core.Model.User>

@{
    ViewBag.Title = "Index";
}

<div class="row">

    <div class="col-sm-12">

        @Html.ActionLink("Create User", "Create", null, new { @class = "btn btn-primary" })

        <table class="table table-borderer">

            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Date of birth</th>
                    <th>Avatar</th>
                    <th></th>

                </tr>

            </thead>

            <tbody>

                @foreach (var item in Model)

                {

                    <tr>



                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>@item.DateOfBirth.ToString("dd/MM/yyyy")</td>
                        @if (item.Avartar.IsEmpty())
                        {
                            <td><a><img width="200" height="150" src="/Images/default-avatar-male.png" /></a></td>
                        }
                        else
                        {
                            <td><img width="200" height="150" src="@item.Avartar" /></td>
                        }

                        <td>

                            @Html.ActionLink("Sửa thông tin", "Edit", new { Id = item.Id }, null) |

                            @Html.ActionLink("Xóa", "Delete", new { Id = item.Id }, null)

                        </td>

                    </tr>

                }

            </tbody>

        </table>

    </div>

</div>