@model PagedList.IPagedList<InstutiteOfFineArt.Core.Model.Competition>
@using PagedList.Mvc;
@using System.Globalization;
@{
    ViewBag.Title = "Index";
}

<div class="inner-page-banner-area" style="background-image: url('/App_Themes/Home/Images/Competition.jpg');">
    <div class="container">
        <div class="pagination-area">
            <h1>Our Lecturers_01</h1>
            <ul>
                <li><a href="#">Home</a> -</li>
                <li>Competitions</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Page Banner Area End Here -->
<!-- Lecturers Page 1 Area Start Here -->
<div class="shop-page2-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row" style="border: 1px solid gray; padding:15px;">
                            <div class="col-md-4">
                                <h3 class="sidebar-title">Search</h3>
                            </div>
                            <div class="col-md-8">
                                <form id="checkout-form" style="display:flex; float:right; padding: 10px;">
                                    @using (Html.BeginForm())
                                    {

                                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, null, new { @class = "sidebar-search-btn disabled", @placeholder = "Search for..." })

                                        <button class="sidebar-search-btn disabled" type="submit" value="Login">Search</button>

                                    }

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @if (Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="tab-content">
                                <!-- Listed product show -->
                                <div class="tab-pane active" id="list-view">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div @*class="product-box2"*@>
                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="img-responsive" width="200" height="300" src="@(item.Logo.IsEmpty() ? "/Images/logo.jpg" : item.Logo)" alt="product">
                                                </a>
                                                <div class="media-body">
                                                    <div class="product-box2-content">
                                                        @*<h3><a href="/Competition/Details">@item.Name</a></h3>*@
                                                        <h3>@Html.ActionLink(item.Name, "Details", new { competitionId = item.CompetitionId }, null) </h3>
                                                        <p> @Html.Raw(item.Description)</p>
                                                    </div>
                                                    <div class="row">
                                                        @{ var lstPost = item.Posts.OrderByDescending(x => x.Mark).ThenBy(x => x.UpdatedTime).ToList(); }
                                                        @for (int i = 0; i < 3; i++)
                                                        {
                                                            if (i >= lstPost.Count || lstPost.Count == 0)
                                                            {
                                                                continue;
                                                            }
                                                            if (i == 0)
                                                            {
                                                                <div class="col-lg-4" data-id="3461121">
                                                                    <div class="info">
                                                                        <span>@lstPost[i].User.UserName</span>
                                                                        <p>
                                                                            <img style="width:50px !important;height:50px !important;" src="@(@lstPost[i].User.Avartar.IsEmpty() ? "/Images/default-avatar-male.png" : @lstPost[i].User.Avartar)">
                                                                            <img class="top-item" width="50" height="50" src="~/App_Themes/Home/Images/top1.png">
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            }
                                                            if (i == 1)
                                                            {
                                                                <div class="col-lg-4" data-id="3461121">

                                                                    <div class="info">
                                                                        <span>@lstPost[i].User.UserName</span>
                                                                        <p>
                                                                            <img style="width:50px !important;height:50px !important;" src="@(@lstPost[i].User.Avartar.IsEmpty() ? "/Images/default-avatar-male.png" : @lstPost[i].User.Avartar)" class="user-avatar" alt="">
                                                                            <img class="top-item" width="50" height="50" src="~/App_Themes/Home/Images/top2.png">
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            }
                                                            if (i == 2)
                                                            {
                                                                <div class="col-lg-4" data-id="3461121">

                                                                    <div class="info">
                                                                        <span>@lstPost[i].User.UserName</span>
                                                                        <p>
                                                                            <img style="width:50px !important;height:50px !important;" src="@(@lstPost[i].User.Avartar.IsEmpty() ? "/Images/default-avatar-male.png" : @lstPost[i].User.Avartar)" class="user-avatar" alt="">
                                                                            <img class="top-item" width="50" height="50" src="~/App_Themes/Home/Images/top3.png">
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            }
                                                            @*<div class="col-lg-4" ><h4>4</h4></div>
                                                                <div class="col-lg-4" >@DateTime.Now.ToString("HH:mm dd/MM/yyyy")</div>*@
                                                        }





                                                    </div>
                                                    <div class="col-lg-4"><h3>@item.Posts.Count() <i class="glyphicon glyphicon-user"></i></h3></div>
                                                    <div class="col-lg-4" ><button class="btn btn-success" id='demo@(item.CompetitionId)' onmouseover="getDate(@item.CompetitionId,'@item.EndDate')">Contest time</button></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No Data</p>
                    }


                    <!-- Tab panes -->


                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul class="pagination-center">
                            @Html.PagedListPager(Model, page => Url.Action("Index",
                   new { page, size = ViewBag.currentSize, sortOrder = ViewBag.CurrentSort, SearchString = ViewBag.CurrentFilter }),
                       new PagedListRenderOptions()
                       {
                           LiElementClasses = new List<string> { }
                       }
                   )
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script>

        $(".nav a").on("click", function () {
            console.log("nav");
            $(".nav li").find(".active").removeClass("active");
            $(this).parent().addClass("active");
        });

    </script>
    <script>
        
        function getDate(id, date) {
            console.log(date);
            // Thiết lập thời gian đích mà ta sẽ đếm
            var countDownDate = new Date(date).getTime();

            // cập nhập thời gian sau mỗi 1 giây
            var x = setInterval(function () {

                // Lấy thời gian hiện tại
                var now = new Date().getTime();

                // Lấy số thời gian chênh lệch
                var distance = countDownDate - now;

                // Tính toán số ngày, giờ, phút, giây từ thời gian chênh lệch
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // HIển thị chuỗi thời gian trong thẻ p
                document.getElementById("demo" + id).innerHTML = days + " Day " + hours + " House "
                    + minutes + " Minute  " + seconds + " Second";

                // Nếu thời gian kết thúc, hiển thị chuỗi thông báo
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("demo" + id).classList.remove("btn-success");
                    document.getElementById("demo" + id).classList.add("btn-secondary");
                    document.getElementById("demo" + id).innerHTML = "Contest time has ended";
                }
            }, 1000);
        }
        //getDate(id, date);
       
    </script>
}
